@charset "UTF-8";
/* AQUI SE IMPORTA EL SASS AL CSS */
@keyframes moveText {
  0% {
    transform: translateY(0); /* Sin movimiento en el eje Y */
  }
  50% {
    transform: translateY(1px); /* Se mueve 2px hacia abajo */
  }
  100% {
    transform: translateY(0); /* Vuelve a la posición inicial */
  }
}
.textoMovimiento {
  animation: moveText 2s ease infinite;
}

/* Definición de la animación */
@keyframes growAndShrink {
  0%, 100% {
    transform: scale(1.8) translateX(0); /* Tamaño normal y sin movimiento lateral */
  }
  90% {
    transform: scale(1.6) translateX(10px); /* Tamaño agrandado y movimiento hacia la derecha */
  }
  100% {
    transform: scale(1.8) translateX(0); /* Tamaño normal y vuelta al lugar original */
  }
}
/* Aplicación de la animación al logo del menú */
.menu-logo {
  animation: growAndShrink 20s linear infinite; /* Aplica la animación */
}

/* Estilos para el enlace del menú al pasar el mouse */
.menu-link:hover {
  color: rgb(255, 255, 255);
  /* Cambia el color del texto a blanco al pasar el mouse */
  animation: shake 0.5s ease;
  /* Aplica la animación shake al pasar el mouse */
}

/* Animación shake */
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-1px);
  }
  50% {
    transform: translateX(1px);
  }
  75% {
    transform: translateX(-1px);
  }
  100% {
    transform: translateX(0);
  }
}
/* Estilos del cuerpo de la página */
/* Estilos para el cuerpo de la página */
body {
  background-image: url(../img/00-fondos/fondo4tvvieja1c.jpg); /* Imagen de fondo */
  background-color: rgb(0, 0, 0); /* Color de fondo */
  background-repeat: no-repeat; /* No repetir la imagen de fondo */
  background-position: center; /* Posición de la imagen de fondo */
  background-size: cover; /* Ajusta la imagen al tamaño del body */
  background-attachment: fixed; /* Fija la imagen de fondo */
}

p {
  color: rgb(241, 225, 192); /* Color de texto */
  font-size: medium; /* Tamaño de fuente */
}

h2 {
  color: rgb(255, 255, 255); /* Color de texto */
}

h3 {
  color: rgb(224, 205, 190); /* Color de texto */
}

h4 {
  color: #e3baa5; /* Color de texto */
}

h5 {
  color: rgb(255, 255, 255); /* Color de texto */
}

/* Estilos para los títulos h6 */
h6 {
  color: rgba(174, 218, 216, 0.766); /* Color de texto */
  font-size: xx-small; /* Estilo de fuente */
}

/* Estilos para las listas */
li {
  list-style-type: none; /* Tipo de viñetas */
}

/* Estilos para las listas ordenadas */
ol {
  list-style-type: circle; /* Tipo de viñetas */
}

/* Estilos para los enlaces */
a {
  /* Enlace sin visitar */
  /* Enlace visitado */
}
a:link {
  color: rgba(135, 214, 205, 0.78); /* Color de texto */
  text-decoration: none; /* Sin subrayado */
}
a:visited {
  color: rgba(158, 207, 201, 0.78); /* Color de texto */
  text-decoration: none; /* Sin subrayado */
}

.card {
  text-align: justify;
  background: rgba(27, 140, 130, 0.039);
  color: rgb(255, 255, 255);
  border-radius: 20px;
}

.card3 {
  text-align: center;
}

.card4 {
  background: transparent;
  border-radius: 20px;
  font-size: xx-small;
  padding: 10px;
}

.card-title {
  color: rgba(249, 246, 156, 0.627);
  text-transform: uppercase;
  font-size: xx-small;
  text-align: center;
}

.card-title2 {
  text-transform: normal;
  font-size: small;
  text-align: center;
}

.card-body {
  padding: 10px;
}

.card-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

.bannerCarrusel1 {
  margin-right: 0;
}

.tarjetaGaleria1 {
  border-radius: 20px;
}

/* Estilos para el teléfono de WhatsApp */
.telefonoWhattsapp {
  font-size: small; /* Tamaño de fuente */
  font-weight: bold; /* Peso de la fuente */
  text-align: center; /* Alineación del texto */
  white-space: nowrap; /* Evita que el texto se envuelva */
}

/**LOGO WHATSAPP**/
.logoWhats {
  width: 150px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.estiloContacto1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilos del pie de página */
/* Estilos para el pie de página */
footer {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: xx-small;
  /* Tamaño de fuente */
  padding: 10%;
  /* Relleno */
  background-color: rgba(0, 0, 0, 0.337);
  /* Color de fondo */
  border: 1px rgba(0, 255, 255, 0.407) solid;
  border-radius: 30px;
  color: rgb(255, 255, 255);
  /* Color de texto */
  margin: 0;
  /* Margen */
  width: 50%;
  /* Ancho */
}

/* Estilos para los elementos del pie de página */
.footerElements {
  display: flex;
  /* Usa flexbox para el diseño */
  justify-content: center;
  /* Centra los elementos horizontalmente */
  text-align: center;
  /* Alineación del texto */
}

/* Estilos para los enlaces en el pie de página */
.linksFooter {
  display: flex;
  /* Usa flexbox para el diseño */
  flex-direction: column;
  /* Dirección de los elementos */
  justify-content: center;
  /* Centra los elementos verticalmente */
  margin: 0 5rem;
  /* Margen izquierdo y derecho */
}

/* Estilos para los elementos de lista en el pie de página */
.linksFooter div {
  list-style: none;
  /* Sin viñetas */
}

/* Estilos para el formulario */
.estiloFormulario {
  background-color: rgba(0, 0, 0, 0.687);
  /* Color de fondo */
  width: 30%;
  /* Ancho del formulario en dispositivos de escritorio */
  font-size: small;
  /* Tamaño de fuente reducido */
  color: rgba(212, 211, 211, 0.411);
  /* Color del texto */
  font-weight: bold;
  /* Peso de la fuente */
  border: 3px solid rgba(0, 221, 255, 0.1843137255);
  /* Borde */
  border-radius: 20px;
  /* Radio del borde */
  padding: 20px;
  /* Relleno reducido */
  margin-top: 10px;
  /* Margen superior */
}

.formularioCentrado1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilos para el botón de enviar del formulario */
.botonEnviar {
  background-color: rgba(86, 86, 86, 0.2862745098);
  /* Color de fondo */
  color: #ffffff;
  /* Color del texto */
  border: none;
  /* Borde */
  font-size: medium;
  border-radius: 10px;
  /* Radio del borde */
  padding: 8px 16px;
  /* Relleno reducido */
  font-weight: bold;
  /* Peso de la fuente */
}

.botonEnviar:hover {
  color: rgb(130, 233, 211);
  background-color: rgba(88, 82, 82, 0.352);
}

/* Estilos para el párrafo de contacto */
.parrafoContacto {
  font-size: small;
  /* Tamaño de fuente reducido */
  color: rgb(42, 131, 131);
  /* Color de texto */
  text-align: center;
  /* Alineación del texto */
}

/* Estilos para los campos de entrada del formulario */
.estiloFormulario input {
  background-color: rgba(212, 208, 208, 0.8784313725);
  /* Color de fondo */
  font-weight: bolder;
  font-style: italic;
  /* Estilo de fuente */
  color: #FFF;
  /* Color del texto */
  border: none;
  /* Borde */
  border-radius: 10px;
  /* Radio del borde */
  padding: 8px;
  /* Relleno reducido */
  margin-bottom: 8px;
  /* Margen inferior reducido */
}

/* Estilos para las áreas de texto del formulario */
.estiloFormulario textarea {
  background-color: rgba(212, 208, 208, 0.8784313725);
  /* Color de fondo */
  color: #FFF;
  /* Color del texto */
  font-style: italic;
  /* Estilo de fuente */
  font-weight: bolder;
  border: none;
  /* Borde */
  border-radius: 10px;
  /* Radio del borde */
  padding: 5px;
  /* Relleno reducido */
  margin-bottom: 8px;
  /* Margen inferior reducido */
}

/* Estilos del encabezado de la página */
/* Estilos para la barra de navegación */
.navbar {
  border-radius: 20px;
  flex-direction: row;
  padding-bottom: 20px;
  /* Asegura que los elementos del menú se alineen en una fila */
}

.navbar-nav {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  font-size: medium;
}

.navbar-nav .nav-link {
  text-align: center; /* Centra horizontalmente */
}

/* Estilos para el enlace del menú al pasar el mouse */
.menu-link:hover {
  color: rgb(255, 255, 255);
  /* Cambia el color del texto a blanco al pasar el mouse */
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item.active .nav-link:hover {
  color: rgb(255, 255, 255);
  /* Color del texto activo y al pasar el mouse */
}

/* Estilos para el encabezado */
.encabezado {
  background-color: transparent;
  /* Fondo transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Centra los elementos verticalmente */
  margin-top: 20px;
  /* Margen superior */
  border: none;
  padding-bottom: 0px;
}

/* Estilos para la imagen dentro del botón del menú hamburguesa en pantallas pequeñas */
.menu-logo {
  width: 70%; /* Ajusta el ancho deseado */
  height: auto; /* Ajusta la altura automáticamente */
}

/* Estilos para el botón de menú hamburguesa */
.navbar-toggler .navbar-toggler-icon {
  background-color: rgba(0, 255, 255, 0.417);
  border-radius: 1px;
  /* Ajusta el radio de borde */
}

.navbar-toggler {
  position: relative;
  /* Establece el posicionamiento absoluto */
  top: 50%;
  /* Coloca el botón en la mitad superior del contenedor */
  left: 50%;
  /* Coloca el botón en la mitad izquierda del contenedor */
  transform: translate(-50%, -50%);
  /* Centra el botón tanto horizontal como verticalmente */
  background-color: transparent;
  /* Fondo transparente */
  border: 1px rgba(0, 255, 255, 0.389) solid;
  margin-top: 10px;
  /* Ajusta este valor según la distancia deseada */
}

/* Ajustes para la imagen dentro del botón del menú hamburguesa en pantallas más pequeñas */
.navbar-toggler .menu-logo {
  width: 30%; /* Ajusta el ancho de la imagen al 100% del tamaño del botón */
  height: auto; /* Ajusta la altura automáticamente */
  margin: 15px; /* Elimina cualquier margen que pueda estar causando problemas */
}

/* Estilos para la imagen al costado del menú hamburguesa */
.side-icon {
  width: 70px;
  /* Ajusta el ancho de la imagen */
  height: auto;
  /* Ajusta la altura automáticamente */
  position: sticky;
  /* Posiciona la imagen */
}

/* Estilos para la imagen en el header */
.imagenHeader1 {
  width: 35%; /* Ancho */
  height: auto; /* Altura automática */
}

/* Estilos del contenido principal de la página */
/* Estilos para el contenido principal */
/* Estilos para las imágenes limitadas */
.imagen-limitada1 {
  width: 50%; /* Ancho */
  height: auto; /* Altura automática */
  border: none; /* Borde */
  border-radius: 20px; /* Radio del borde */
}

/* Estilos para las imágenes limitadas */
.imagen-limitada2 {
  width: 35%; /* Ancho */
  height: auto; /* Altura automática */
  border: none; /* Borde */
  border-radius: 20px; /* Radio del borde */
}

/* Estilos para las imágenes limitadas */
.imagen-limitada3 {
  width: 5%; /* Ancho */
  height: auto; /* Altura automática */
  border: none; /* Borde */
  border-radius: 20px; /* Radio del borde */
}

/* Estilos para las imágenes limitadas */
.imagen-limitada4 {
  width: 15%; /* Ancho */
  height: auto; /* Altura automática */
  border: none; /* Borde */
  border-radius: 20px; /* Radio del borde */
}

/* Estilos para las imágenes limitadas */
.imagen-limitada5 {
  width: 40%; /* Ancho por defecto */
  height: auto; /* Altura automática */
}

.gif-limitado1 {
  width: 40%; /* Ancho */
  height: auto; /* Altura automática */
  border: rgba(156, 223, 202, 0.592) 10px solid; /* Borde */
  border-radius: 20px; /* Radio del borde */
  padding: 0px;
  margin-bottom: 0px;
}

.gifLimitado2 {
  text-align: center; /* Centra horizontalmente el contenido */
}

.gifLimitado2 .logoGondraWorld1 img {
  max-width: 10%; /* Ajusta el ancho máximo de la imagen */
  height: auto; /* Permite que la altura se ajuste automáticamente según el ancho */
}

.h1Titulo {
  border: none;
  border-radius: 20px;
}

.objetoCentrado {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Centra los elementos verticalmente */
  margin-top: 0px;
}

.objetoCentrado1 {
  display: flex;
  justify-content: center;
}

.objetoCentrado2 {
  display: flex;
  justify-content: center;
}

.tituloImportante1 {
  color: rgba(255, 255, 255, 0.393);
  font-size: medium;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.banner1 {
  width: 500px;
  height: 80px;
  border-color: aqua 5px solid;
}

logoGondraWorld1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos responsivos para diferentes tamaños de pantalla */
/* Ajustes para la imagen después de los 1704px */
@media (max-width: 991.98px) {
  .navbar-nav {
    margin-top: 1rem; /* Espacio adicional en la parte superior del menú para evitar superposiciones */
    flex-direction: column; /* Cambia la dirección de los elementos del menú a columna */
    text-align: center; /* Centra los elementos del menú cuando se coloca en una columna */
  }
  .navbar-nav .nav-link {
    padding-right: 0; /* Elimina el espacio adicional entre elementos del menú en dispositivos móviles */
    padding-left: 0; /* Elimina el espacio adicional entre elementos del menú en dispositivos móviles */
    font-size: 18px; /* Tamaño de fuente para el menú principal */
  }
}
/* Ajustes para el footer en diferentes tamaños de pantalla */
/* Para pantallas menores o iguales a 420px */
@media screen and (max-width: 420px) {
  .linksFooter div {
    margin-right: 0.3rem;
    margin-left: 0.3rem;
  }
}
/* Para pantallas entre 421px y 767px */
@media screen and (min-width: 421px) and (max-width: 767px) {
  .linksFooter div {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}
/* Para pantallas menores o iguales a 767px */
@media screen and (max-width: 767px) {
  .footerElements {
    flex-direction: column;
  }
  .linksFooter {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 0rem;
    margin-right: 0rem;
  }
  .img2Footer {
    display: none;
  }
  .img1Footer img {
    max-height: 2rem;
    margin-bottom: 0.5rem;
  }
}
/* Ajustes para el título (h1Titulo) en pantallas menores o iguales a 768px */
@media (max-width: 768px) {
  .h1Titulo {
    font-size: 1.2em;
  }
}
/* Ajustes para el número de teléfono (telefonoWhattsapp) en diferentes tamaños de pantalla */
/* Para pantallas menores o iguales a 992px */
@media (max-width: 992px) {
  #telefonoWhattsapp {
    font-size: 1em;
  }
}
/* Para pantallas menores o iguales a 768px */
@media (max-width: 768px) {
  #telefonoWhattsapp {
    font-size: 1.2em;
  }
}
/* Para pantallas menores o iguales a 600px */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: medium;
  }
  h2 {
    font-size: small;
  }
  p {
    font-size: small;
  }
}
/* Para pantallas menores o iguales a 600px */
@media only screen and (max-width: 600px) {
  .navBar {
    font-size: large;
  }
  .navBardrop1 {
    font-size: large;
  }
  .navBardrop2 {
    font-size: medium;
  }
}
/* Para pantallas menores o iguales a 600px */
@media only screen and (max-width: 600px) {
  .botonEnviar {
    font-size: 14px;
  }
  .botonComprar {
    font-size: 14px;
  }
}
/* Para pantallas menores o iguales a 768px */
@media only screen and (max-width: 768px) {
  .carruselContainer {
    display: none;
  }
}
/* Ajuste para dispositivos móviles */
@media (max-width: 768px) {
  .item img {
    max-width: 80%; /* Porcentaje del ancho del contenedor */
  }
}
@media (max-width: 991.98px) {
  .imagenHeader1 {
    display: none; /* Oculta la imagen en pantallas más pequeñas */
  }
}
/* Media query para dispositivos de escritorio */
@media only screen and (max-width: 992px) {
  .estiloFormulario {
    width: 70%; /* Cambia el ancho del formulario en dispositivos de escritorio */
  }
}
/* Media query para dispositivos móviles */
@media only screen and (max-width: 767px) {
  .estiloFormulario {
    width: 80%; /* Establece el ancho del formulario al 100% en dispositivos móviles */
    padding: 20px; /* Ajusta el relleno para dispositivos móviles */
  }
}
/* Media query para dispositivos con un ancho máximo de 992px (escritorio) */
@media only screen and (max-width: 992px) {
  .imagen-limitada5 {
    width: 50%; /* Ancho al 100% en dispositivos de escritorio */
  }
}
/* Media query para dispositivos con un ancho máximo de 767px (móvil) */
@media only screen and (max-width: 767px) {
  .imagen-limitada5 {
    width: 80%; /* Ancho al 50% en dispositivos móviles */
  }
}
/*******TIENDA********/
.botonComprar {
  padding: 8px 16px;
  font-size: small;
  border: none;
  border-radius: 10px;
  background-color: rgba(22, 72, 77, 0.5764705882);
  color: rgba(254, 254, 232, 0.665);
  cursor: pointer;
  transition: all 0.3s ease;
  float: right;
  margin-top: 10px;
}

.botonComprar:hover {
  background-color: rgba(255, 255, 255, 0.199);
  color: #ffffff;
  border: none;
}

/* Estilos responsivos para diferentes tamaños de pantalla */
/* GRID */
.gridPadre {
  display: grid;
  background-color: rgba(0, 0, 0, 0.687);
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 10px;
  justify-content: center;
  align-items: center;
  /* Centra verticalmente el contenido */
  margin: 0px auto;
  /* Para centrar el grid horizontalmente */
  max-width: 1168px;
  /* Establece un ancho máximo para evitar que el grid se expanda demasiado en pantallas más grandes */
  margin-top: 0px;
  /* Ajusta este valor según la distancia deseada */
  border: 1px rgba(0, 255, 255, 0.101) solid;
  border-radius: 30px;
  padding: 10px;
}

.gridPadreCarrito1 {
  display: grid;
  background-color: rgba(58, 60, 60, 0.1);
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Centra verticalmente el contenido */
  margin: 0px auto;
  /* Para centrar el grid horizontalmente */
  max-width: 1168px;
  /* Establece un ancho máximo para evitar que el grid se expanda demasiado en pantallas más grandes */
  margin-top: 0px;
  /* Ajusta este valor según la distancia deseada */
  border: 1px rgba(0, 255, 255, 0.21) solid;
  border-radius: 30px;
  padding: 10px;
}

.item {
  display: flex;
  justify-content: center;
  text-align: center;
}

.item img {
  min-width: 250px;
  /* Tamaño mínimo deseado para la imagen */
  width: 75%;
  height: auto;
}

/*# sourceMappingURL=estilo.css.map */
