@charset "UTF-8";
/*---------------------SASS A CSS------------------------*/
/* Estilos de ajustes responsive*/
/* Ajustes para la imagen después de los 1704px */
@media (max-width: 991.98px) {
  .navbar-nav {
    margin-top: 1rem; /* Espacio adicional en la parte superior del menú para evitar superposiciones */
    flex-direction: column; /* Cambia la dirección de los elementos del menú a columna */
    text-align: center; /* Centra los elementos del menú cuando se coloca en una columna */
  }
  .navbar-nav .nav-link {
    padding-right: 0; /* Elimina el espacio adicional entre elementos del menú en dispositivos móviles */
    padding-left: 0; /* Elimina el espacio adicional entre elementos del menú en dispositivos móviles */
    font-size: 18px; /* Tamaño de fuente para el menú principal */
  }
}
/* Ajustes para el footer en diferentes tamaños de pantalla */
/* Para pantallas menores o iguales a 420px */
@media screen and (max-width: 420px) {
  .linksFooter div {
    margin-right: 0.3rem;
    margin-left: 0.3rem;
  }
}
/* Para pantallas entre 421px y 767px */
@media screen and (min-width: 421px) and (max-width: 767px) {
  .linksFooter div {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}
/* Para pantallas menores o iguales a 767px */
@media screen and (max-width: 767px) {
  .footerElements {
    flex-direction: column;
  }
  .linksFooter {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 0rem;
    margin-right: 0rem;
  }
  .img2Footer {
    display: none;
  }
  .img1Footer img {
    max-height: 2rem;
    margin-bottom: 0.5rem;
  }
}
/* Ajustes para el título (h1Titulo) en pantallas menores o iguales a 768px */
@media (max-width: 768px) {
  .h1Titulo {
    font-size: 1.2em;
  }
}
/* Ajustes para el número de teléfono (telefonoWhattsapp) en diferentes tamaños de pantalla */
/* Para pantallas menores o iguales a 992px */
@media (max-width: 992px) {
  #telefonoWhattsapp {
    font-size: 1em;
  }
}
/* Para pantallas menores o iguales a 768px */
@media (max-width: 768px) {
  #telefonoWhattsapp {
    font-size: 1.2em;
  }
}
/* Para pantallas menores o iguales a 600px */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: medium;
  }
  h2 {
    font-size: small;
  }
  p {
    font-size: small;
  }
}
/* Para pantallas menores o iguales a 600px */
@media only screen and (max-width: 600px) {
  .navBar {
    font-size: large;
  }
  .navBardrop1 {
    font-size: large;
  }
  .navBardrop2 {
    font-size: medium;
  }
}
/* Para pantallas menores o iguales a 600px */
@media only screen and (max-width: 600px) {
  .botonEnviar {
    font-size: 14px;
  }
  .botonComprar {
    font-size: 14px;
  }
}
/* Para pantallas menores o iguales a 768px */
@media only screen and (max-width: 768px) {
  .carruselContainer {
    display: none;
  }
}
/* Ajuste para dispositivos móviles */
@media (max-width: 768px) {
  .item img {
    max-width: 80%; /* Porcentaje del ancho del contenedor */
  }
}
@media (max-width: 991.98px) {
  .imagenHeader1 {
    display: none; /* Oculta la imagen en pantallas más pequeñas */
  }
}
/* Media query para dispositivos de escritorio */
@media only screen and (max-width: 992px) {
  .estiloFormulario {
    width: 70%; /* Cambia el ancho del formulario en dispositivos de escritorio */
  }
}
/* Media query para dispositivos móviles */
@media only screen and (max-width: 767px) {
  .estiloFormulario {
    width: 80%; /* Establece el ancho del formulario al 100% en dispositivos móviles */
    padding: 20px; /* Ajusta el relleno para dispositivos móviles */
  }
}
/* Media query para dispositivos con un ancho máximo de 992px (escritorio) */
@media only screen and (max-width: 992px) {
  .imagen-limitada5 {
    width: 50%; /* Ancho al 100% en dispositivos de escritorio */
  }
}
/* Media query para dispositivos con un ancho máximo de 767px (móvil) */
@media only screen and (max-width: 767px) {
  .imagen-limitada5 {
    width: 80%; /* Ancho al 50% en dispositivos móviles */
  }
}
/* Estilos del Body*/
html {
  font-size: 100%;
  margin-top: 0;
}

body {
  background-image: url(../img/00-fondos/fondo4tvvieja1c.jpg); /* Imagen de fondo */
  background-color: rgb(0, 0, 0); /* Color de fondo */
  background-repeat: no-repeat; /* No repetir la imagen de fondo */
  background-position: center; /* Posición de la imagen de fondo */
  background-size: cover; /* Ajusta la imagen al tamaño del body */
  background-attachment: fixed; /* Fija la imagen de fondo */
  font-family: "Courier New", Courier, monospace;
}

p {
  color: rgb(241, 225, 192);
  font-size: medium;
}

h1 {
  color: rgb(255, 255, 255);
  font-size: x-large;
}

h2 {
  color: rgb(255, 255, 255);
  font-size: large;
}

h3 {
  color: rgb(224, 205, 190);
  font-size: medium;
}

h4 {
  color: #e3baa5;
  font-size: small;
}

h5 {
  color: rgb(255, 255, 255);
  font-size: x-small;
}

h6 {
  font-size: xx-small;
}

li {
  list-style-type: none;
}

/* Estilos para las listas ordenadas */
ol {
  list-style-type: circle;
}

a {
  /* Enlace sin visitar */
  /* Enlace visitado */
}
a:link {
  color: rgba(223, 255, 251, 0.78); /* Color de texto */
  text-decoration: none; /* Sin subrayado */
}
a:visited {
  color: rgba(255, 255, 255, 0.78); /* Color de texto */
  text-decoration: none; /* Sin subrayado */
}

/* Enlace sin visitar */
a:hover {
  animation: shake 0.5s ease;
}

/* Estilos del Main */
.objetoCentrado {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Centra los elementos verticalmente */
  margin-top: 0px;
}

.objetoCentrado1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.objetoCentrado2 {
  display: flex;
  justify-content: center;
}

.objetoCostadoDerecho1 {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 10px;
}

.item {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: large;
}

.item img {
  min-width: 250px;
  width: 75%;
  height: auto;
}

/* Estilos del Header-NAV*/
/* Estilos para la barra de navegación */
.navbar {
  border-radius: 20px;
  flex-direction: row;
  padding-bottom: 20px;
  /* Asegura que los elementos del menú se alineen en una fila */
  font-family: "Montserrat Alternates", sans-serif;
}

.navbar-nav {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  font-family: "Fredericka the Great";
  font-size: medium;
  font-weight: bolder;
  text-transform: uppercase;
}

.navbar-nav .nav-link {
  text-align: center;
  /* Centra horizontalmente */
  color: rgba(255, 255, 255, 0.708);
  margin-left: 5px;
  margin-right: 5px;
}

/* Estilos para el enlace del menú al pasar el mouse */
.navbar-nav .nav-link:hover {
  color: rgba(0, 255, 225, 0.78);
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item.active .nav-link:hover {
  color: rgb(255, 255, 255);
  /* Color del texto activo y al pasar el mouse */
}

/* Estilos para el encabezado */
.encabezado {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 20px;
  border: none;
  padding-bottom: 10px;
}

/* Estilos para la imagen dentro del botón del menú hamburguesa en pantallas pequeñas */
.menu-logo {
  width: 60%; /* Ajusta el ancho deseado */
  height: auto; /* Ajusta la altura automáticamente */
}

/* Estilos para el botón de menú hamburguesa */
.navbar-toggler .navbar-toggler-icon {
  background-color: rgba(0, 255, 255, 0.417);
  border-radius: 1px;
}

.navbar-toggler {
  position: relative;
  /* Establece el posicionamiento absoluto */
  top: 50%;
  /* Coloca el botón en la mitad superior del contenedor */
  left: 50%;
  /* Coloca el botón en la mitad izquierda del contenedor */
  transform: translate(-50%, -50%);
  /* Centra el botón tanto horizontal como verticalmente */
  background-color: transparent;
  /* Fondo transparente */
  border: 1px rgba(0, 255, 255, 0.389) solid;
  margin-top: 10px;
  /* Ajusta este valor según la distancia deseada */
}

/* Ajustes para la imagen dentro del botón del menú hamburguesa en pantallas más pequeñas */
.navbar-toggler .menu-logo {
  width: 30%; /* Ajusta el ancho de la imagen al 100% del tamaño del botón */
  height: auto; /* Ajusta la altura automáticamente */
  margin: 15px;
}

/* Estilos para la imagen al costado del menú hamburguesa */
.side-icon {
  width: 70px;
  /* Ajusta el ancho de la imagen */
  height: auto;
  /* Ajusta la altura automáticamente */
  position: sticky;
  /* Posiciona la imagen */
}

/* Estilos para la imagen en el header */
.imagenHeader1 {
  width: 35%; /* Ancho */
  height: auto; /* Altura automática */
}

/* Estilos para la imagen en el header */
.imagenHeader1:hover {
  width: 35%;
  /* Ancho */
  height: auto;
  /* Altura automática */
  animation: shake 0.5s ease;
}

/* Estilos del Footer */
/* Estilos para el pie de página */
footer {
  font-family: "Times New Roman", Times, serif;
  font-size: x-small;
  padding: 10%;
  border-radius: 30px;
  color: rgb(209, 207, 207);
  margin: 0;
  width: 40%;
}

/* Estilos para los elementos del pie de página */
.footerElements {
  display: flex;
  justify-content: center;
  text-align: center;
}

/* Estilos para los enlaces en el pie de página */
.linksFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 5rem;
}

/* Estilos para los elementos de lista en el pie de página */
.linksFooter div {
  list-style: none;
}

.h1Titulo {
  font-size: x-large;
  color: rgba(181, 225, 222, 0.986);
  font-family: "Fredericka the Great";
  border-radius: 20px;
  padding: 20px;
}

.h2Titulo {
  font-size: medium;
  color: rgba(196, 255, 252, 0.649);
  font-family: "Fredericka the Great";
  padding: 20px;
}

.h3Titulo {
  font-size: small;
  color: rgba(187, 237, 237, 0.817);
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid rgba(0, 255, 255, 0.533);
  border-radius: 10px;
  padding: 15px;
}

.h4Titulo {
  font-size: small;
  color: rgba(181, 225, 222, 0.986);
  font-family: "Fredericka the Great";
  border-radius: 20px;
  padding: 20px;
}

.tituloImportante1 {
  color: rgb(218, 247, 236);
  font-size: medium;
  text-transform: uppercase;
}

.tituloImportante2 {
  color: rgba(207, 255, 252, 0.8235294118);
  border: 2px rgba(255, 255, 255, 0.237) dotted;
  font-size: large;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  padding: 1px;
}

.tituloImportante3 {
  color: rgba(255, 255, 255, 0.879);
  font-size: medium;
  font-family: "Fredericka the Great";
}

.tituloImportante4 {
  color: rgba(252, 223, 131, 0.706);
  font-size: x-large;
}

.textoCentrado1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tituloPequeño {
  color: rgb(0, 0, 0);
  font-size: medium;
}

.tituloPequeño1 {
  color: rgb(241, 235, 200);
  font-size: x-small;
}

.tituloPequeño2 {
  color: rgba(180, 206, 201, 0.689);
  font-size: small;
}

.tituloPequeño3 {
  color: rgba(154, 154, 154, 0.689);
  font-size: small;
}

.tituloPequeño4 {
  color: rgba(0, 255, 247, 0.71);
  font-size: xx-small;
}

.tituloPequeño5 {
  color: rgba(255, 255, 255, 0.879);
  font-size: x-small;
  font-family: "Fredericka the Great";
}

.text-muted1 {
  color: rgba(198, 214, 214, 0.817);
  font-size: xx-small;
}

.estiloContacto1 {
  font-size: large;
  font-family: "Caveat", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
}

.estiloContacto1 a {
  color: rgb(156, 217, 209);
}

/* Estilos para el párrafo de contacto */
.parrafoContacto {
  font-size: small;
  color: rgb(42, 131, 131);
  text-align: center;
}

/* Estilos para el formulario */
.contenedorFormulario {
  display: flex;
  align-items: center;
  justify-content: center;
}

.estiloFormulario {
  background-color: rgba(0, 0, 0, 0.5647058824);
  font-family: "Caveat", cursive;
  width: 30%;
  font-size: small;
  color: rgba(212, 211, 211, 0.411);
  font-weight: bold;
  border: 3px solid rgba(0, 221, 255, 0.1843137255);
  border-radius: 20px;
  padding: 30px;
  margin-top: 10px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgb(255, 255, 255);
}

/* Estilos para los campos de entrada del formulario */
.estiloFormulario input {
  background-color: rgba(212, 208, 208, 0.8784313725);
  font-weight: bolder;
  font-style: italic;
  color: #FFF;
  border: none;
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 8px;
}

/* Estilos para las áreas de texto del formulario */
.estiloFormulario textarea {
  background-color: rgba(212, 208, 208, 0.8784313725);
  color: #FFF;
  font-style: italic;
  font-weight: bolder;
  border: none;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 8px;
}

/* Estilos para las imágenes limitadas */
.imagen-limitada1 {
  width: 50%; /* Ancho */
  height: auto; /* Altura automática */
  border: none; /* Borde */
  border-radius: 20px; /* Radio del borde */
}

/* Estilos para las imágenes limitadas */
.imagen-limitada2 {
  width: 35%; /* Ancho */
  height: auto; /* Altura automática */
  border: none; /* Borde */
  border-radius: 20px; /* Radio del borde */
}

/* Estilos para las imágenes limitadas */
.imagen-limitada3 {
  width: 5%; /* Ancho */
  height: auto; /* Altura automática */
  border: none; /* Borde */
  border-radius: 20px; /* Radio del borde */
}

/* Estilos para las imágenes limitadas */
.imagen-limitada4 {
  width: 15%; /* Ancho */
  height: auto; /* Altura automática */
  border: none; /* Borde */
  border-radius: 20px; /* Radio del borde */
}

/* Estilos para las imágenes limitadas */
.imagen-limitada5 {
  width: 30%; /* Ancho por defecto */
  height: auto; /* Altura automática */
}

imagen-limitada5:hover {
  object-position: botton right;
}

/* Estilos para las imágenes limitadas */
.imagen-limitada6 {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 2/1;
  transition: 1s;
}

.gif-limitado1 {
  width: 40%; /* Ancho */
  height: auto; /* Altura automática */
  border: rgba(156, 223, 202, 0.592) 10px solid; /* Borde */
  border-radius: 20px; /* Radio del borde */
  padding: 0px;
  margin-bottom: 0px;
}

.gifLimitado2 {
  text-align: center; /* Centra horizontalmente el contenido */
}

.gifLimitado2 .logoGondraWorld1 img {
  max-width: 10%; /* Ajusta el ancho máximo de la imagen */
  height: auto; /* Permite que la altura se ajuste automáticamente según el ancho */
}

/**LOGO WHATSAPP**/
.logoWhats {
  width: 100px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.banner1 {
  width: 500px;
  height: 80px;
  border-color: aqua 5px solid;
}

/* Estilos GRID-Estructuras*/
/*---------------------------------GRID------------------------------------*/
.gridPadre {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1168px;
  border: 1px solid rgba(0, 255, 255, 0.101);
  border-radius: 30px;
  padding: 30px;
}

.gridPadre1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  max-width: 1168px;
  border: 1px solid rgba(0, 255, 255, 0.31);
  border-radius: 30px;
  padding: 10px;
}

.gridPadreCarrito1 {
  display: grid;
  grid-template-columns: auto; /* Solo una columna */
  grid-auto-flow: row; /* Flujo automático en filas */
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  max-width: 1168px;
  border-radius: 30px;
  padding: 10px;
}

.gridPadreCarrito2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1168px;
  margin-top: 20px;
  border: 1px solid rgba(0, 255, 255, 0.21);
  border-radius: 30px;
  padding: 10px;
}

.gridPadreCarrito3 {
  margin-top: 20px;
}

.gridPadreCarrito4 {
  display: flex;
  flex-direction: row; /* Mostrar elementos en filas */
  flex-wrap: wrap; /* Permitir que se envuelvan en varias filas */
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1168px;
  margin-top: 20px;
  border: 1px solid rgba(0, 255, 255, 0.21);
  border-radius: 30px;
  padding: 10px;
}

/* Estilo para cada elemento hijo dentro de .gridPadreCarrito4 */
.gridPadreCarrito4 .elementoHijo {
  flex-basis: calc(33.33% - 20px); /* Ancho de cada elemento, con margen */
  margin: 10px; /* Espacio entre elementos */
  max-width: 300px; /* Ancho máximo de cada elemento */
}

.row-cols-md-4 {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en filas */
  justify-content: center; /* Centra los elementos horizontalmente */
}

.col-md-4 {
  flex: 0 0 25%; /* Establece el ancho de cada elemento para que haya 4 elementos por fila */
  max-width: 25%; /* Establece el ancho máximo de cada elemento */
}

.card {
  text-align: justify;
  background: rgba(27, 140, 130, 0.039);
  color: rgb(255, 255, 255);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.512);
}

.card1 {
  text-align: justify;
  color: rgb(255, 255, 255);
}

.card2 {
  font-size: small;
  font-weight: bold;
  border: 1px dotted white;
  border-radius: 20px;
}

.card3 {
  font-size: medium;
  font-weight: bold;
}

.card4 {
  background: transparent;
  border-radius: 20px;
  font-size: xx-small;
  padding: 10px;
}

.card-title {
  color: rgba(249, 246, 156, 0.627);
  text-transform: uppercase;
  font-size: xx-small;
  text-align: center;
}

.card-title1 {
  color: rgba(167, 156, 249, 0.86);
  font-size: small;
  text-align: center;
}

.card-title2 {
  text-transform: normal;
  font-size: small;
  text-align: center;
}

.producto-card {
  background: #fff;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 4px 6px rgb(255, 255, 255);
}

.card-body {
  padding: 10px;
}

.card-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

.bannerCarrusel1 {
  margin-right: 0;
}

.tarjetaGaleria1 {
  border-radius: 20px;
}

.btn {
  border: none;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
}

.btn:hover {
  background-color: transparent;
  border: none;
}

/*----------------Botón Encargar----------------*/
.botonEncargar {
  padding: 8px 16px;
  font-size: small;
  border: none;
  border-radius: 10px;
  background-color: #2bbdcd;
  color: rgba(254, 254, 232, 0.665);
  cursor: pointer;
  transition: all 0.3s ease;
  float: right;
  margin-top: 10px;
}

.botonEncargar:hover {
  background-color: rgba(48, 156, 120, 0.754);
  color: #ffffff;
  border: none;
}

/*----------------Botón Comprar----------------*/
.btnComprar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: rgba(60, 198, 179, 0.4196078431);
}

.btnComprar:hover {
  background-color: rgba(48, 156, 156, 0.743);
  color: #ffffff;
  border: none;
}

/*----------------Boton Seguir comprando----------------*/
.botonSeguirComprando1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: rgba(35, 160, 143, 0.6509803922);
}

.botonSeguirComprando1:hover {
  background-color: rgba(48, 156, 156, 0.563);
  color: #ffffff;
  border: none;
}

/*----------------Botón PAGAR----------------*/
.botonPagar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: rgba(35, 160, 143, 0.6509803922);
}

.botonPagar:hover {
  background-color: rgba(48, 156, 156, 0.563);
  color: #ffffff;
  border: none;
}

/*----------------Botón "Vaciar Carrito"----------------*/
.btnVaciarCarrito {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  font-size: xx-small;
  border: none;
  border-radius: 10px;
  background-color: rgba(198, 97, 60, 0.4196078431);
}

.btnVaciarCarrito:hover {
  background-color: rgba(156, 106, 48, 0.743);
  color: #ffffff;
  border: none;
}

/*----------------Botón de eliminar----------------*/
/* Botón de eliminar */
.botonEliminar {
  padding: 8px 16px;
  font-size: small;
  border: none;
  border-radius: 10px;
  background-color: rgba(22, 72, 77, 0.5764705882);
  color: rgba(254, 254, 232, 0.665);
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 10px;
}

.botonEliminar:hover {
  background-color: rgba(48, 156, 120, 0.563);
  color: #ffffff;
  border: none;
}

.btn-eliminar {
  padding: 8px 16px;
  font-size: small;
  border: none;
  border-radius: 10px;
  background-color: #e32727;
  color: rgba(254, 254, 232, 0.665);
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 10px;
}

.btn-eliminar:hover {
  background-color: rgba(227, 69, 69, 0.864);
  color: #ffffff;
  border: none;
}

/* Estilos para el botón de enviar del FORMULARIO */
.botonEnviar {
  background-color: rgba(86, 86, 86, 0.2862745098);
  color: #ffffff;
  border: none;
  font-size: medium;
  border-radius: 10px;
  padding: 8px 16px;
  font-weight: bold;
}

.botonEnviar:hover {
  color: rgb(130, 233, 211);
  background-color: rgba(88, 82, 82, 0.352);
}

.textoMovimiento:hover {
  animation: shake 0.5s ease;
}

/*-------------EFECTO SHAKE EN EL MENU AL PASAR EL MOUSE-------------*/
/* Estilos para el enlace del menú al pasar el mouse */
.menu-link:hover {
  color: rgb(255, 255, 255);
  /* Cambia el color del texto a blanco al pasar el mouse */
  animation: shake 0.5s ease;
  /* Aplica la animación shake al pasar el mouse */
}

/* Animación shake */
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-1px);
  }
  50% {
    transform: translateX(1px);
  }
  75% {
    transform: translateX(-1px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes moveText {
  0% {
    transform: translateY(0); /* Sin movimiento en el eje Y */
  }
  50% {
    transform: translateY(1px); /* Se mueve 2px hacia abajo */
  }
  100% {
    transform: translateY(0); /* Vuelve a la posición inicial */
  }
}
/* Definición de la animación */
@keyframes growAndShrink {
  0%, 100% {
    transform: scale(1.8) translateX(0); /* Tamaño normal y sin movimiento lateral */
  }
  90% {
    transform: scale(1.6) translateX(10px); /* Tamaño agrandado y movimiento hacia la derecha */
  }
  100% {
    transform: scale(1.8) translateX(0); /* Tamaño normal y vuelta al lugar original */
  }
}
/* Aplicación de la animación al logo del menú */
.menu-logo {
  animation: growAndShrink 20s linear infinite; /* Aplica la animación */
}

/* Estilos del encabezado de la página */
/* Estilos personalizados para el Toastify */
.iconoToastify {
  font-size: small;
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 3, 3, 0.8784313725);
  color: rgba(254, 254, 232, 0.665);
}

.tamañoicono1 {
  font-size: 2rem;
}

.iconitoCarrito1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  text-transform: uppercase;
  font-size: small;
  border: none;
  border-radius: 10px;
  background-color: rgba(0, 234, 255, 0.9098039216);
  color: rgba(0, 0, 0, 0.665);
}

.tituloPrecio1 {
  color: rgba(0, 255, 208, 0.672);
  font-size: medium;
  text-transform: uppercase;
}

.tituloPrecioCarrito {
  text-decoration: dotted;
  color: rgb(0, 255, 208);
  font-size: xx-large;
}

/* Estilo para cada producto en el carrito */
.itemProducto {
  width: 100%;
  padding: 10px;
}

.itemProducto .productoCarrito {
  display: flex;
  align-items: center;
}

.itemProducto .imagenProductoCarrito {
  width: 50px;
  /* Ajusta el tamaño de la imagen */
  height: auto;
  margin-right: 10px;
}

.mini-carrito {
  background-color: rgba(55, 92, 83, 0.6470588235);
  border-radius: 20px;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  /* Alinea los elementos */
  flex-wrap: wrap;
  /* Permite que los elementos se ajusten al tamaño del contenedor */
}

.mini-carrito2 {
  border-radius: 20px;
  background-color: transparent;
  box-shadow: 0 0 20px wheat;
  padding: 20px;
}

.listaMiniCarrito3 {
  background-color: transparent;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.487);
  color: white;
  padding: 10px;
}

/* Lista del mini carrito */
#listaMiniCarrito {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-basis: 50%;
  /* Toma la mitad del espacio */
}

/* Ítems del mini carrito */
#listaMiniCarrito li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* Total del mini carrito */
#totalMiniCarrito {
  font-weight: bold;
  margin-top: 10px;
}

/* Estilos para la imagen del carrito */
.carrito-imagen img {
  width: 100px;
  /* Tamaño deseado para la imagen */
  height: auto;
  margin-bottom: 10px;
  /* Otros estilos según necesites */
}

.list-group-item {
  border: none;
  padding: 15px;
}

/* Estilo CSS para el elemento <li> */
.estilo-lista {
  /* Estilos de disposición */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Estilos de apariencia */
  /* Color de fondo */
  /* Borde */
  /* Bordes redondeados */
  padding: 20px;
  /* Espaciado interno */
  margin: 5px;
  /* Margen inferior */
  gap: 20px;
}

/* Estilo para el último elemento de la lista */
.estilo-lista:last-child {
  margin-bottom: 0;
  /* Quitar margen inferior al último elemento */
}

.form-select {
  background-color: #0e3f33;
  color: white;
  border: none;
  padding: 0px;
}

/* Estilos para centrar y cambiar el color de fondo de las opciones de los selects */
select.form-select option {
  text-align: center;
  background-color: #0e3f33;
  color: rgb(255, 255, 255);
}

/* Detalles del producto agregado */
#detalleProductoAgregado {
  flex-basis: 40%;
  /* Toma el 40% del espacio */
  padding-left: 20px;
  /* Espacio a la izquierda */
}

#detalleProductoAgregado img {
  width: 100px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

/*# sourceMappingURL=estilo.css.map */
