html {
  font-size: 100%;
  margin-top: 0;
}

//-------------------------ESTILOS BODY----------------------------//
body {
  background-image: url(../img/00-fondos/fondo4tvvieja1c.jpg); /* Imagen de fondo */
  background-color: rgb(0, 0, 0); /* Color de fondo */
  background-repeat:no-repeat; /* No repetir la imagen de fondo */
  background-position: center; /* Posición de la imagen de fondo */
  background-size:cover; /* Ajusta la imagen al tamaño del body */
  background-attachment: fixed; /* Fija la imagen de fondo */
  font-family:'Courier New', Courier, monospace
  // font-family: "Montserrat Alternates", sans-serif;
  // font-family: 'Fredericka the Great';
}

//---------------ESTILOS GENERALES P-H1/H6---------------------//
p {
  color: rgb(241, 225, 192);
   font-size: medium;
}

h1 {
  color: rgb(255, 255, 255);
     font-size: x-large;
     }

h2 {
  color: rgb(255, 255, 255);
  font-size: large;
}

h3 {
  color: rgb(224, 205, 190);
  font-size: medium;
}

h4 {
  color: #e3baa5;
  font-size: small;
}

h5 {
  color: rgb(255, 255, 255);
  font-size: x-small;
}

h6 {
  // color: rgba(174, 218, 216, 0.766);
  font-size: xx-small;
}
//----------------------------------------------------------------//


//---------------ESTILOS LISTAS---------------------//
li {
  list-style-type: none;
}

/* Estilos para las listas ordenadas */
ol {
  list-style-type: circle;
}
//----------------------------------------------------------------//


//---------------ESTILOS LINKS ENLACES---------------------//

a {
  /* Enlace sin visitar */
  &:link {
    color: rgba(223, 255, 251, 0.78); /* Color de texto */
    text-decoration: none; /* Sin subrayado */
  }
  /* Enlace visitado */
  &:visited {
    color: rgba(255, 255, 255, 0.78); /* Color de texto */
    text-decoration: none; /* Sin subrayado */
  }
}

  /* Enlace sin visitar */
  a:hover {
    animation: shake 0.5s ease;
  }

//----------------------------------------------------------------//
