//---------------------ESTILOS MAIN----------------------------//

//-----------OBJETOS CENTRADOS-----------------//
.objetoCentrado {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Centra los elementos verticalmente */
    margin-top: 0px;
}

.objetoCentrado1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.objetoCentrado2 {
  display: flex;
  justify-content: center;
}


.objetoCentradoTitulo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Espacio adicional superior */

  /* Ajustes para tabletas */
  @media (max-width: 991.98px) {
    margin-top: 15px; /* Reducir el espacio en tabletas */
  }

  /* Ajustes para móviles */
  @media (max-width: 767.98px) {
    margin-top: 10px; /* Reducir aún más el espacio en móviles */
  }
}





//------------------------------------------------//

.objetoCostadoDerecho1 {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 10px;
}



//------------------ITEM CLASS--------------------------//
.item {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: large;
  }
  
  .item img {
    min-width: 250px;
    width: 60%;
    height: auto;
  }
  //------------------------------------------------//


.itemTv {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: large;
  padding: 10px; /* Espaciado alrededor del GIF */
  transition: all 0.3s ease-in-out;

  /* Ajustes para pantallas más pequeñas */
  @media (max-width: 991.98px) {
    font-size: medium; /* Ajusta el tamaño de la fuente en tabletas */
  }

  @media (max-width: 767.98px) {
    font-size: small; /* Ajusta el tamaño de la fuente en móviles */
  }
}