//---------------------ESTILOS HEADER----------------------------//

header {

}
/* Estilos para la barra de navegación */
.navbar {
  // border: 1px solid aqua;
  border-radius: 20px;
   flex-direction: row;
  //  border-bottom: 2px solid rgb(0, 217, 255);
  //  border-radius: 50%;
   padding: 20px;
   }


    .navbar-nav {
     font-family: 'Cinzel Decorative', serif;
     font-size: large;
     font-weight: bold;
     text-transform: uppercase;
   }

   
.navbar-nav .nav-link {
  text-align: center;
  /* Centra horizontalmente */
  color: rgb(200, 255, 249);
  margin-left: 5px;
  margin-right: 5px;
}

/* Estilos para el enlace del menú al pasar el mouse */
.navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.708);
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item.active .nav-link:hover {
  color: rgb(255, 255, 255);
  /* Color del texto activo y al pasar el mouse */
}

/* Estilos para el encabezado */
.encabezado {
  background-color: rgba(0, 0, 0, 0.144);
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 1px solid rgba(243, 206, 171, 0.474);
  border-radius: 20px;
  // box-shadow: 0 0 20px rgb(245, 179, 179);
  margin-bottom: 20px;
  // padding-bottom: 10px;
}

/* Estilos para la imagen dentro del botón del menú hamburguesa en pantallas pequeñas */
.menu-logo {
  width: 60%; /* Ajusta el ancho deseado */
  height: auto; /* Ajusta la altura automáticamente */
}


/* Estilos para el botón de menú hamburguesa */
.navbar-toggler .navbar-toggler-icon {
  background-color: rgba(0, 255, 255, 0.417);
  border-radius: 1px;
}

.navbar-toggler {
  position: relative;
  /* Establece el posicionamiento absoluto */
  top: 50%;
  /* Coloca el botón en la mitad superior del contenedor */
  left: 50%;
  /* Coloca el botón en la mitad izquierda del contenedor */
  transform: translate(-50%, -50%);
  /* Centra el botón tanto horizontal como verticalmente */
  background-color: transparent;
  /* Fondo transparente */
  border: 1px rgba(0, 255, 255, 0.389) solid;
  margin-top: 10px;
  /* Ajusta este valor según la distancia deseada */
}

/* Ajustes para la imagen dentro del botón del menú hamburguesa en pantallas más pequeñas */
.navbar-toggler .menu-logo {
  width: 30%; /* Ajusta el ancho de la imagen al 100% del tamaño del botón */
  height: auto; /* Ajusta la altura automáticamente */
  margin: 15px; 
}

/* Estilos para la imagen al costado del menú hamburguesa */
.side-icon {
  width: 70px;
  /* Ajusta el ancho de la imagen */
  height: auto;
  /* Ajusta la altura automáticamente */
  position: sticky;
  /* Posiciona la imagen */
}


/* Estilos para la imagen en el header */
.imagenHeader1 {
  width: 35%; /* Ancho */
  height: auto; /* Altura automática */
}



/* Estilos para la imagen en el header */
.imagenHeader1:hover {
  width: 35%;
  /* Ancho */
  height: auto;
  /* Altura automática */
  animation: shake 0.5s ease;
}
