/* Estilos para el formulario */

.contenedorFormulario {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px; /* Añadir un poco de padding para evitar que los bordes se peguen demasiado en móviles */
  }
  
  .estiloFormulario {
    background-color: #00000090;
    font-family: "Caveat", cursive;
    width: 30%; /* Tamaño por defecto para escritorio */
    font-size: medium;
    color: rgba(190, 255, 252, 0.897);
    font-weight: bold;
    padding: 40px;
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 255, 179, 0.384);
  
    /* Ajustes para tabletas */
    @media (max-width: 991.98px) {
      width: 50%; /* Ajusta el tamaño del formulario al 50% del ancho de la pantalla en tabletas */
      padding: 30px; /* Reducir el padding en tabletas */
    }
  
    /* Ajustes para móviles */
    @media (max-width: 767.98px) {
      width: 80%; /* El formulario ocupará el 80% del ancho de la pantalla en móviles */
      padding: 20px; /* Reducir aún más el padding en móviles */
      font-size: small; /* Ajusta el tamaño de la fuente para pantallas pequeñas */
    }
  
    @media (max-width: 575.98px) {
      width: 90%; /* El formulario ocupará casi todo el ancho en móviles pequeños */
    }
  }
  


/* Estilos para los campos de entrada del formulario */
.estiloFormulario input {
    background-color: #d4d0d0e0;
    font-weight: bolder;
    font-style: italic;
    color: #FFF;
    border: none;
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 8px;
}

/* Estilos para las áreas de texto del formulario */
.estiloFormulario textarea {
    background-color: #d4d0d0e0;
    color: #FFF;
     font-weight: bolder;
    border: none;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 8px;
}


.estiloFormulario input,
.estiloFormulario textarea {
  width: 100%; /* Asegura que los campos ocupen el 100% del ancho disponible */
  box-sizing: border-box; /* Asegura que el padding no desborde los inputs */
}

.estiloFormulario button {
  width: 100%; /* El botón ocupará todo el ancho en dispositivos móviles */
  margin-top: 15px; /* Espacio entre el último campo y el botón */
}
