//---------------ESTILO IMAGENES-----------------------//


/* Estilos para las imágenes limitadas */
.imagen-limitada1 {
  width: 50%; /* Ancho */
  height: auto; /* Altura automática */
  border: none; /* Borde */
  border-radius: 20px; /* Radio del borde */
}

/* Estilos para las imágenes limitadas */
.imagen-limitada2 {
  width: 35%; /* Ancho */
  height: auto; /* Altura automática */
  border: none; /* Borde */
  border-radius: 20px; /* Radio del borde */
  }

/* Estilos para las imágenes limitadas */
.imagen-limitada3 {
  width: 5%; /* Ancho */
  height: auto; /* Altura automática */
  border: none; /* Borde */
  border-radius: 20px; /* Radio del borde */
  }

/* Estilos para las imágenes limitadas */
.imagen-limitada4 {
  width: 15%; /* Ancho */
  height: auto; /* Altura automática */
  border: none; /* Borde */
  border-radius: 20px; /* Radio del borde */
  }


/* Estilos para las imágenes limitadas */
.imagen-limitada5 {
  width: 30%; /* Ancho por defecto */
  height: auto; /* Altura automática */
}

imagen-limitada5:hover {
  object-position: botton right;
}


.imagen-limitadaTitulo {
  max-width: 100%; /* La imagen ocupará todo el ancho del contenedor */
  height: auto; /* Mantiene las proporciones de la imagen */
  object-fit: cover; /* Ajuste para asegurarse de que la imagen se vea bien en diferentes tamaños de pantalla */

  /* Ajustes para tabletas */
  @media (max-width: 991.98px) {
    max-width: 80%; /* Reduce el tamaño de la imagen en tabletas */
  }

  /* Ajustes para móviles */
  @media (max-width: 767.98px) {
    max-width: 70%; /* Reduce el tamaño de la imagen en móviles */
  }

  @media (max-width: 575.98px) {
    max-width: 70%; /* Ajuste para móviles pequeños */
  }
}





/* Estilos para las imágenes limitadas */
.imagen-limitada6 {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 2/1;
  transition: 1s;
}

//-----------------------------------------------------------------/

.carousel-responsive {
  max-width: 50%;
  margin: 0 auto;
  padding: 20px 0;

  /* Ajustes generales para el contenedor */
  .carousel-inner {
    max-width: 100%;
    height: auto;

    
   
      img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
        transition: transform 0.3s ease-in-out; /* Transición suave en hover */
        
        &:hover {
          transform: scale(1.05); /* Efecto zoom al pasar el cursor */
        }
      }
    }
  

  /* Ajustes responsivos */
  
  /* Para tabletas (pantallas entre 768px y 991.98px) */
  @media (max-width: 991.98px) {
    padding: 15px 0;
    
    .carousel-inner {
      .carousel-item img {
        max-width: 90%; /* Reduce el tamaño en tabletas */
      }
    }
  }

  /* Para móviles (pantallas entre 576px y 767.98px) */
  @media (max-width: 767.98px) {
    padding: 10px 0;
    
    .carousel-inner {
      .carousel-item img {
        max-width: 80%; /* Reduce el tamaño en móviles */
      }
    }
  }

  /* Para móviles pequeños (pantallas menores a 576px) */
  @media (max-width: 575.98px) {
    padding: 8px 0;
    
    .carousel-inner {
      .carousel-item img {
        max-width:100%; /* Ajuste para móviles pequeños */
        transform: none; /* Desactiva el zoom en pantallas pequeñas */
      }
    }
  }
}



//-------------------ESTILOS GIF-----------------------------/

.gif-limitado1 {
  width: 40%; /* Ancho */
  height: auto; /* Altura automática */
  border: rgba(156, 223, 202, 0.592) 10px solid; /* Borde */
  border-radius: 20px; /* Radio del borde */
  padding:0px;
  margin-bottom: 0px;
 }
 
 .gifLimitado2 {
   text-align: center; /* Centra horizontalmente el contenido */
 }
 
 .gifLimitado2 .logoGondraWorld1 img {
   max-width: 10%; /* Ajusta el ancho máximo de la imagen */
   height: auto; /* Permite que la altura se ajuste automáticamente según el ancho */
 }
 
.gif-limitadoTv {
  width: 70%; /* Tamaño por defecto para pantallas grandes */
  height: auto; /* Mantiene la proporción del GIF */
  border: rgba(156, 223, 202, 0.592) 10px solid; /* Borde */
  border-radius: 20px; /* Bordes redondeados */
  padding: 0px;
  margin-bottom: 0px;
  transition: all 0.3s ease-in-out; /* Transición suave para cambios de tamaño */

  /* Ajustes responsivos */

  /* Tablet (pantallas entre 768px y 991.98px) */
  @media (max-width: 991.98px) {
    width: 60%; /* Ajusta el tamaño del GIF para tabletas */
    border-radius: 15px; /* Bordes más pequeños en tabletas */
  }

  /* Móviles (pantallas entre 576px y 767.98px) */
  @media (max-width: 767.98px) {
    width: 80%; /* Aumenta el ancho en pantallas móviles */
    border-radius: 10px; /* Reducción adicional en bordes */
  }

  /* Móviles pequeños (pantallas menores a 576px) */
  @media (max-width: 575.98px) {
    width: 90%; /* Tamaño casi completo para pantallas pequeñas */
    border-radius: 8px; /* Bordes más pequeños para móviles pequeños */
  }
}
//-----------------------------------------------------------------/



//-------------------LOGO WHATSAPP FLOTANTE------------------------------/
/**LOGO WHATSAPP**/
.logoWhats {
  width: 80px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

//-----------------------------------------------------------------/

.banner1 {
  width: 500px;
  height: 80px;
  border-color: aqua 5px solid;
}

// logoGondraWorld1 {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }


