/*---------------------------------GRID------------------------------------*/

.gridPadre {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1168px;
  border-top: 2px solid rgba(255, 255, 255, 0.336);
  border-radius: 50%;
  padding: 40px;
}

.gridPadre1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-content: center;
  align-items: center;
  margin: 5px auto;
  max-width: 600px;
  // border-bottom: 1px solid rgba(0, 255, 255, 0.31);
  // border-radius: 30px;
  padding: 10px;
  gap: 20px;
}

.gridPadreCarrito1 {
  display: grid;
  grid-template-columns: auto; /* Solo una columna */
  grid-auto-flow: row; /* Flujo automático en filas */
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  max-width: 1168px;
  border-radius: 30px;
  padding: 10px;
}

.gridPadreCarrito2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1168px;
  margin-top: 20px;
  border: 1px solid rgba(0, 255, 255, 0.21);
  border-radius: 30px;
  padding: 10px;
}

.gridPadreCarrito3 {
  margin-top: 20px;
}

.gridPadreCarrito4 {
  display: flex;
  flex-direction: row; /* Mostrar elementos en filas */
  flex-wrap: wrap; /* Permitir que se envuelvan en varias filas */
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1168px;
  margin-top: 20px;
  border: 1px solid rgba(0, 255, 255, 0.21);
  border-radius: 30px;
  padding: 10px;
}

/* Estilo para cada elemento hijo dentro de .gridPadreCarrito4 */
.gridPadreCarrito4 .elementoHijo {
  flex-basis: calc(33.33% - 20px); /* Ancho de cada elemento, con margen */
  margin: 10px; /* Espacio entre elementos */
  max-width: 300px; /* Ancho máximo de cada elemento */
}



//--------------------COLUMNAS PRODUCTOS JS-----------//
.row-cols-md-4 {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en filas */
  justify-content: center; /* Centra los elementos horizontalmente */
}

// .row .row-cols-1 .row-cols-md-4 .g-4 {
//   border: 1px solid aquamarine;
//   border-radius: 20px;
//   background-color: red;
// }


.col-md-4 {
  flex: 0 0 25%; /* Establece el ancho de cada elemento para que haya 4 elementos por fila */
  max-width: 25%; /* Establece el ancho máximo de cada elemento */
}

