//------------------------BOTONES-ESTILOS-------------------------//

.btn {
  // padding: 8px 16px;
  // font-size: small;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  // color: rgba(254, 254, 232, 0.665);
  cursor: pointer;
  // transition: all 0.3s ease;
  // float: right;
  // margin-top: 10px;
  // padding: 30px;
}

.btn:hover {
  background-color: transparent;
  // color: #ffffff;
  border: none;
  // animation: shake 0.5s ease;
}

/*----------------Botón Encargar----------------*/
.botonEncargar {
  padding: 8px 16px;
  font-size: small;
  border: none;
  border-radius: 10px;
  background-color: #2bbdcd;
  color: rgba(254, 254, 232, 0.665);
  cursor: pointer;
  transition: all 0.3s ease;
  float: right;
  margin-top: 10px;
}

.botonEncargar:hover {
  background-color: rgba(48, 156, 120, 0.754);
  color: #ffffff;
  border: none;
}

/*----------------Botón Comprar----------------*/

.btnComprar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  // font-size: large;
  border: none;
  border-radius: 10px;
  background-color: #3cc6b36b;
  // color: rgba(254, 254, 232, 0.665);
}

.btnComprar:hover {
  background-color: rgba(48, 156, 156, 0.743);
  color: #ffffff;
  border: none;
}

// .botonComprar {
//   padding: 8px 16px;
//   font-size: small;
//   border: none;
//   border-radius: 10px;
//   background-color: #296c7273;
//   color: rgba(254, 254, 232, 0.665);
//   cursor: pointer;
//   transition: all 0.3s ease;
// }

// .botonComprar:hover {
//   background-color: #27c5d363;
//   color: rgba(254, 254, 232, 0.665);
// }

/*----------------Boton Seguir comprando----------------*/
.botonSeguirComprando1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  // font-size: large;
  border: none;
  border-radius: 10px;
  background-color: #23a08fa6;
  // color: rgba(254, 254, 232, 0.665);
}

.botonSeguirComprando1:hover {
  background-color: rgba(48, 156, 156, 0.563);
  color: #ffffff;
  border: none;
}

/*----------------Botón PAGAR----------------*/
.botonPagar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  // font-size: large;
  border: none;
  border-radius: 10px;
  background-color: #23a08fa6;
  // color: rgba(254, 254, 232, 0.665);
}

.botonPagar:hover {
  background-color: rgba(48, 156, 156, 0.563);
  color: #ffffff;
  border: none;
}

// .btnPagar {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   padding: 10px;
//   // font-size: large;
//   border: none;
//   border-radius: 10px;
//   background-color: #23a08fa6;
//   // color: rgba(254, 254, 232, 0.665);
// }

// .btnPagar:hover {
//   background-color: rgba(48, 156, 156, 0.563);
//   color: #ffffff;
//   border: none;
// }

/*----------------Botón "Vaciar Carrito"----------------*/


.btnVaciarCarrito {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  font-size: xx-small;
  border: none;
  border-radius: 10px;
  background-color: #c6613c6b;
  // color: rgba(254, 254, 232, 0.665);
}

.btnVaciarCarrito:hover {
  background-color: rgba(156, 106, 48, 0.743);
  color: #ffffff;
  border: none;
}

// .btnVaciarCarrito {
//   padding: 8px 16px;
//   font-size: small;
//   border: none;
//   border-radius: 10px;
//   background-color: #296c7273;
//   color: rgba(254, 254, 232, 0.665);
//   cursor: pointer;
//   transition: all 0.3s ease;
//   margin-top: 10px;
// }

// .btnVaciarCarrito:hover {
//   background-color: rgba(156, 48, 77, 0.563);
//   color: #ffffff;
// }

/*----------------Botón de eliminar----------------*/

/* Botón de eliminar */
.botonEliminar {
  padding: 8px 16px;
  font-size: small;
  border: none;
  border-radius: 10px;
  background-color: #16484d93;
  color: rgba(254, 254, 232, 0.665);
  cursor: pointer;
  transition: all 0.3s ease;
  // float: right;
  margin-top: 10px;
}

.botonEliminar:hover {
  background-color: rgba(48, 156, 120, 0.563);
  color: #ffffff;
  border: none;
}

.btn-eliminar {
  padding: 8px 16px;
  font-size: small;
  border: none;
  border-radius: 10px;
  background-color: #e32727;
  color: rgba(254, 254, 232, 0.665);
  cursor: pointer;
  transition: all 0.3s ease;
  // float: right;
  margin-top: 10px;
}

.btn-eliminar:hover {
  background-color: rgba(227, 69, 69, 0.864);
  color: #ffffff;
  border: none;
}

//------------------FORMULARIO-----------------------------//
/* Estilos para el botón de enviar del FORMULARIO */
.botonEnviar {
  background-color: #56565649;
  color: #ffffff;
  border: none;
  font-size: medium;
  border-radius: 10px;
  padding: 8px 16px;
  font-weight: bold;
}

.botonEnviar:hover {
  color: rgb(130, 233, 211);
  background-color: rgba(88, 82, 82, 0.352);
}
//---------------------------------------------------------//