//------------------------TIENDA-ESTILOS-------------------------//

.tamañoicono1 {
  font-size: 2rem;
}

.iconitoCarrito1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  text-transform: uppercase;
  font-size: small;
  border: none;
  border-radius: 10px;
  background-color: #00eaffe8;
  color: rgba(0, 0, 0, 0.665);
}


.tituloPrecio1 {
  // text-decoration: underline;
  color: rgba(0, 255, 208, 0.672);
  font-size: medium;
  text-transform: uppercase;
}

.tituloPrecioCarrito {
  text-decoration: dotted;
  color: rgb(0, 255, 208);
  font-size: xx-large;
}



/* Estilo para cada producto en el carrito */
.itemProducto {
  width: 100%;
  padding: 10px;
}

.itemProducto .productoCarrito {
  display: flex;
  align-items: center;
}

.itemProducto .imagenProductoCarrito {
  width: 50px;
  /* Ajusta el tamaño de la imagen */
  height: auto;
  margin-right: 10px;
}





//------------------------MINI CARRITO COMPRAS-------------------------//
.mini-carrito {
  background-color: #375c53a5;
  border-radius: 20px;
  padding: 20px;
}

.mini-carrito2 {
  // border: 1px solid rgba(255, 255, 255, 0.406);
  border-radius: 20px;
  background-color: transparent;
  box-shadow: 0 0 20px wheat;
  padding: 20px;
}


.carrito-imagen{
  width: cover;
  /* Puedes ajustar el tamaño de la imagen según sea necesario */
  height: auto;
  border-radius: 20px;
  opacity: 0.8; 
}


.listaMiniCarrito3 {
  background-color: transparent;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.487);
  color: white;
  padding: 10px;
}

/* Lista del mini carrito */
#listaMiniCarrito {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-basis: 50%;
  /* Toma la mitad del espacio */
}


/* Ítems del mini carrito */
#listaMiniCarrito li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* Total del mini carrito */
#totalMiniCarrito {
  font-weight: bold;
  margin-top: 10px;
}


/* Estilos para la imagen del carrito */
.carrito-imagen img {
  width: 30%;
  /* Tamaño deseado para la imagen */
  height: auto;
  margin-bottom: 10px;
}

.list-group-item {
  border: none;
  padding: 15px;
}


/* Estilo CSS para el elemento <li> */
.estilo-lista {
  /* Estilos de disposición */
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Estilos de apariencia */
  // background-color: rgba(55, 143, 153, 0.156);
  /* Color de fondo */
  // border: 1px solid #6c757d;
  /* Borde */
  // border-radius: 20px;
  /* Bordes redondeados */
  padding: 20px;
  /* Espaciado interno */
  margin: 5px;
  /* Margen inferior */
  gap: 20px;
}

/* Estilo para el último elemento de la lista */
.estilo-lista:last-child {
  margin-bottom: 0;
  /* Quitar margen inferior al último elemento */
}





//-----------------SELECTOR DENTRO DE PRODUCTO TALLE-COLOR------------------//

.form-select {
  // font-family: "Caveat", cursive;
  background-color: #284741;
  color: rgba(255, 255, 255, 0.694);
  color: rgba(255, 255, 255, 0.694);
  border: none;
  padding: 0px;
}

/* Estilos para centrar y cambiar el color de fondo de las opciones de los selects */
select.form-select option {
  text-align: center;
  background-color: #162925;
}



/* Detalles del producto agregado */
#detalleProductoAgregado {
  flex-basis: 40%;
  /* Toma el 40% del espacio */
  padding-left: 20px;
  /* Espacio a la izquierda */
}

#detalleProductoAgregado img {
  width: 100px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}


//----------------------------------------//

