// //------------animaciones---------------//
// @keyframes moveLogo {
//     0% {transform: translateX(0);
//     }
//     50% {transform: translateX(10px);
//     }
//     100% {transform: translateX(0);
//     } }

// .logo {
//     animation: moveLogo 2s ease infinite;
// }


@keyframes moveText {
    0% {
        transform: translateY(0); /* Sin movimiento en el eje Y */
    }
    50% {
        transform: translateY(1px); /* Se mueve 2px hacia abajo */
    }
    100% {
        transform: translateY(0); /* Vuelve a la posición inicial */
    }
}

.textoMovimiento {
    animation: moveText 2s ease infinite;
}

/* Definición de la animación */
@keyframes growAndShrink {
    0%, 100% {
      transform: scale(1.8) translateX(0); /* Tamaño normal y sin movimiento lateral */
    }
    90% {
      transform: scale(1.6) translateX(10px); /* Tamaño agrandado y movimiento hacia la derecha */
    }
    100% {
      transform: scale(1.8) translateX(0); /* Tamaño normal y vuelta al lugar original */
    }
}
  
/* Aplicación de la animación al logo del menú */
.menu-logo {
    animation: growAndShrink 20s linear infinite; /* Aplica la animación */
}


// @keyframes shrinkLogo {
//     0% {
//         transform: scale(1);
//     }

//     /* Tamaño original */
//     50% {
//         transform: scale(0.9);
//     }

//     /* Se achica al 80% */
//     100% {
//         transform: scale(1);
//     }


// }




// @keyframes shrinkLogo {
//     0% {
//         transform: scale(1);
//     }

//     /* Tamaño original */
//     50% {
//         transform: scale(0.8);
//     }

//     /* Se achica al 80% */
//     100% {
//         transform: scale(1);
//     }

// }

// /* Aplica la animación al logo */
// .logo-paypal {
//     animation: shrinkLogo 2s ease infinite;

// }




/* Estilos para el enlace del menú al pasar el mouse */
.menu-link:hover {
    color: rgb(255, 255, 255);
    /* Cambia el color del texto a blanco al pasar el mouse */
    animation: shake 0.5s ease;
    /* Aplica la animación shake al pasar el mouse */
  }
  
  /* Animación shake */
  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-1px);
    }
    50% {
      transform: translateX(1px);
    }
    75% {
      transform: translateX(-1px);
    }
    100% {
      transform: translateX(0);
    }
  }
  