/* Estilos para el cuerpo de la página */
body {
  background-image: url(../img/00-fondos/fondo4tvvieja1c.jpg); /* Imagen de fondo */
  background-color: rgb(0, 0, 0); /* Color de fondo */
  background-repeat:no-repeat; /* No repetir la imagen de fondo */
  background-position: center; /* Posición de la imagen de fondo */
  background-size:cover; /* Ajusta la imagen al tamaño del body */
  background-attachment: fixed; /* Fija la imagen de fondo */
  
  }


p {
  color: rgb(241, 225, 192); /* Color de texto */
  font-size: medium; /* Tamaño de fuente */
}



h2 {
  color: rgb(255, 255, 255); /* Color de texto */
}

h3 {
  color: rgb(224, 205, 190); /* Color de texto */
}

h4 {
  color: #e3baa5; /* Color de texto */
  font-size: medium;
}

h5 {
  color: rgb(255, 255, 255); /* Color de texto */
  font-size: x-small;
}

/* Estilos para los títulos h6 */
h6 {
  color: rgba(174, 218, 216, 0.766); /* Color de texto */
  font-size: xx-small; /* Estilo de fuente */
}

/* Estilos para las listas */
li {
  list-style-type: none; /* Tipo de viñetas */
}

/* Estilos para las listas ordenadas */
ol {
  list-style-type: circle; /* Tipo de viñetas */
}

/* Estilos para los enlaces */
a {
  /* Enlace sin visitar */
  &:link {
    color: rgba(135, 214, 205, 0.78); /* Color de texto */
    text-decoration: none; /* Sin subrayado */
  }
  /* Enlace visitado */
  &:visited {
    color: rgba(158, 207, 201, 0.78); /* Color de texto */
    text-decoration: none; /* Sin subrayado */
  }
}
