.card4 {
    background: transparent;
    border-radius: 20px;
    font-size: small;
    padding: 10px;
    // border: 1px rgba(0, 255, 255, 0.419) solid;
}

.card {
    text-align: justify;
    background: transparent;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    border: none;
}


.tarjetaGaleria1 {
    border-radius: 20px;
}

.card3 {
    text-align: center;
}

.card-title {
    color: white;
    text-transform: uppercase;
    font-size: small;
    text-align: center;
}

.card-title2 {
    text-transform: normal;
    font-size: small;
    text-align: center;
}

.imagenCard {
    background: transparent;
    border: none;
    border-radius: 20px;
}