/* Estilos para el teléfono de WhatsApp */
 .telefonoWhattsapp {
     font-size: small; /* Tamaño de fuente */
     font-weight: bold; /* Peso de la fuente */
     text-align: center; /* Alineación del texto */
     white-space: nowrap; /* Evita que el texto se envuelva */
   }
 
  /**LOGO WHATSAPP**/
  .logoWhats {
    width: 100px;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  

  .estiloContacto1 {
    font-size: large;
    font-family: "Caveat", cursive;
    display: flex;
    align-items: center;
    justify-content: center; 
  }

  .estiloContacto1 a {
color: rgb(156, 217, 209);
  }