/* Estilos para el formulario */
.estiloFormulario {
  background-color: rgba(0, 0, 0, 0.687);
  /* Color de fondo */
  font-family: "Caveat", cursive;
  width: 30%;
  /* Ancho del formulario en dispositivos de escritorio */
  font-size: small;
  /* Tamaño de fuente reducido */
  color: rgba(212, 211, 211, 0.411);
  /* Color del texto */
  font-weight: bold;
  /* Peso de la fuente */
  border: 3px solid #00ddff2f;
  /* Borde */
  border-radius: 20px;
  /* Radio del borde */
  padding: 20px;
  /* Relleno reducido */
  margin-top: 10px;
  /* Margen superior */
}

.formularioCentrado1 {
 display: flex;
 align-items: center;
 justify-content: center;
 
}

/* Estilos para el botón de enviar del formulario */
.botonEnviar {
  background-color: #56565649;
  /* Color de fondo */
  color: #ffffff;
  /* Color del texto */
  border: none;
  /* Borde */
  font-size: medium;
  border-radius: 10px;
  /* Radio del borde */
  padding: 8px 16px;
  /* Relleno reducido */
  font-weight: bold;
  /* Peso de la fuente */

}



.botonEnviar:hover {
  color: rgb(130, 233, 211);
  background-color: rgba(88, 82, 82, 0.352);
}


/* Estilos para el párrafo de contacto */
.parrafoContacto {
  font-size: small;
  /* Tamaño de fuente reducido */
  color: rgb(42, 131, 131);
  /* Color de texto */
  text-align: center;
  /* Alineación del texto */
}


/* Estilos para los campos de entrada del formulario */
.estiloFormulario input {
  background-color: #d4d0d0e0;
  /* Color de fondo */
  font-weight: bolder;
  font-style: italic;
  /* Estilo de fuente */
  color: #FFF;
  /* Color del texto */
  border: none;
  /* Borde */
  border-radius: 10px;
  /* Radio del borde */
  padding: 8px;
  /* Relleno reducido */
  margin-bottom: 8px;
  /* Margen inferior reducido */
}

/* Estilos para las áreas de texto del formulario */
.estiloFormulario textarea {
  background-color: #d4d0d0e0;
  /* Color de fondo */
  color: #FFF;
  /* Color del texto */
  font-style: italic;
  /* Estilo de fuente */
  font-weight: bolder;
  border: none;
  /* Borde */
  border-radius: 10px;
  /* Radio del borde */
  padding: 5px;
  /* Relleno reducido */
  margin-bottom: 8px;
  /* Margen inferior reducido */
}