/* Estilos para el formulario de contacto */
.formularioContacto {
  color: #b2fcff; /* Color del texto */
  text-align: center; /* Alineación del texto */
  font-size: small; /* Tamaño de fuente reducido */
  font-weight: bold; /* Peso de la fuente */
  max-width: 100%; /* Ancho máximo */
}

/* Estilos para el botón de enviar del formulario */
.botonEnviar {
  background-color: #56565649; /* Color de fondo */
  color: #ccbfb4; /* Color del texto */
  border: none; /* Borde */
  border-radius: 10px; /* Radio del borde */
  padding: 8px 16px; /* Relleno reducido */
  font-weight: bold; /* Peso de la fuente */
  font-size: small; /* Tamaño de fuente reducido */
}

/* Estilos para el párrafo de contacto */
.parrafoContacto {
  font-size:xx-small; /* Tamaño de fuente reducido */
  color: rgb(42, 131, 131); /* Color de texto */
  text-align: center; /* Alineación del texto */
}

/* Estilos para el formulario */
.estiloFormulario {
  background-color: transparent; /* Color de fondo */
  width: 100%; /* Ancho */
  height: auto; /* Altura automática */
  font-family: 'Cambria', 'Cochin', 'Georgia', 'Times', 'Times New Roman', serif; /* Familia de fuentes */
  font-size: xx-small; /* Tamaño de fuente reducido */
  color: rgba(212, 211, 211, 0.411); /* Color del texto */
  font-weight: bold; /* Peso de la fuente */
  border: 3px solid #00ddff2f; /* Borde */
  border-radius: 20px; /* Radio del borde */
  padding: 12px; /* Relleno reducido */
  margin-top: 20px; /* Margen superior */
}

/* Estilos para los campos de entrada del formulario */
.estiloFormulario input {
  background-color: #d4d0d0a7; /* Color de fondo */
  font-style: italic; /* Estilo de fuente */
  color: #FFF; /* Color del texto */
  border: none; /* Borde */
  border-radius: 10px; /* Radio del borde */
  padding: 8px; /* Relleno reducido */
  margin-bottom: 8px; /* Margen inferior reducido */
}

/* Estilos para las áreas de texto del formulario */
.estiloFormulario textarea {
  background-color: #d4d0d0a7; /* Color de fondo */
  color: #FFF; /* Color del texto */
  font-style: italic; /* Estilo de fuente */
  border: none; /* Borde */
  border-radius: 10px; /* Radio del borde */
  padding: 8px; /* Relleno reducido */
  margin-bottom: 8px; /* Margen inferior reducido */
}
