/* GRID */

.gridPadre {
   
    display: grid;
    background-color: rgba(0, 0, 0, 0.687);
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 10px;
    justify-content: center;
    align-items: center;
    /* Centra verticalmente el contenido */
    margin: 0px auto;
    /* Para centrar el grid horizontalmente */
    max-width: 1168px;
    /* Establece un ancho máximo para evitar que el grid se expanda demasiado en pantallas más grandes */
    margin-top: 0px;
    /* Ajusta este valor según la distancia deseada */
    border: 1px rgba(0, 255, 255, 0.101) solid;
    border-radius: 30px;
    padding: 10px;
}


.gridPadreCarrito1 {
    display: grid;
    background-color: rgba(58, 60, 60, 0.1);
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Centra verticalmente el contenido */
    margin: 0px auto;
    /* Para centrar el grid horizontalmente */
    max-width: 1168px;
    /* Establece un ancho máximo para evitar que el grid se expanda demasiado en pantallas más grandes */
    margin-top: 0px;
    /* Ajusta este valor según la distancia deseada */
    border: 1px rgba(0, 255, 255, 0.21) solid;
    border-radius: 30px;
    padding: 10px;
}

.item {
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.item img {
    min-width: 250px;
    /* Tamaño mínimo deseado para la imagen */
    width: 75%;
    height: auto;
}