
/* GRID */
.gridPadre {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1168px;
  border: 1px solid rgba(0, 255, 255, 0.101);
  border-radius: 30px;
  padding: 30px;
}

.gridPadreCarrito1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  max-width: 1168px;
  border-radius: 30px;
  padding: 10px;
}

.gridPadreCarrito2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1168px;
  margin-top: 20px;
  border: 1px solid rgba(0, 255, 255, 0.21);
  border-radius: 30px;
  padding: 10px;
}

.gridPadreCarrito3 {
  margin-top: 20px;
}

.item {
  display: flex;
  justify-content: center;
  text-align: center;
}

.item img {
  min-width: 250px;
  width: 75%;
  height: auto;
}