/* Estilos para la barra de navegación */
.navbar {
  // background-color: rgba(127, 255, 212, 0.268);
  // border: 1px solid aqua;
  font-family: "Caveat", cursive;

  border-radius: 20px;
   flex-direction: row;
  padding-bottom: 20px;
  /* Asegura que los elementos del menú se alineen en una fila */
}

.navbar-nav {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  // font-family: 'Fredericka the Great';
  font-size: x-large;
  font-weight: bolder;
}

.navbar-nav .nav-link {
  text-align: center; /* Centra horizontalmente */
}


/* Estilos para el enlace del menú al pasar el mouse */
.menu-link:hover {
  color: rgb(255, 255, 255);
  /* Cambia el color del texto a blanco al pasar el mouse */
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item.active .nav-link:hover {
  color: rgb(255, 255, 255);
  /* Color del texto activo y al pasar el mouse */
}

/* Estilos para el encabezado */
.encabezado {
  background-color: transparent;
  /* Fondo transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Centra los elementos verticalmente */
  margin-top: 20px;
  /* Margen superior */
  border: none;
  padding-bottom: 0px;
}

/* Estilos para la imagen dentro del botón del menú hamburguesa en pantallas pequeñas */
.menu-logo {
  width: 70%; /* Ajusta el ancho deseado */
  height: auto; /* Ajusta la altura automáticamente */
}


/* Estilos para el botón de menú hamburguesa */
.navbar-toggler .navbar-toggler-icon {
  background-color: rgba(0, 255, 255, 0.417);
  border-radius: 1px;
  /* Ajusta el radio de borde */
}

.navbar-toggler {
  position: relative;
  /* Establece el posicionamiento absoluto */
  top: 50%;
  /* Coloca el botón en la mitad superior del contenedor */
  left: 50%;
  /* Coloca el botón en la mitad izquierda del contenedor */
  transform: translate(-50%, -50%);
  /* Centra el botón tanto horizontal como verticalmente */
  background-color: transparent;
  /* Fondo transparente */
  border: 1px rgba(0, 255, 255, 0.389) solid;
  margin-top: 10px;
  /* Ajusta este valor según la distancia deseada */
}

/* Ajustes para la imagen dentro del botón del menú hamburguesa en pantallas más pequeñas */
.navbar-toggler .menu-logo {
  width: 30%; /* Ajusta el ancho de la imagen al 100% del tamaño del botón */
  height: auto; /* Ajusta la altura automáticamente */
  margin: 15px; /* Elimina cualquier margen que pueda estar causando problemas */
}


/* Estilos para la imagen al costado del menú hamburguesa */
.side-icon {
  width: 70px;
  /* Ajusta el ancho de la imagen */
  height: auto;
  /* Ajusta la altura automáticamente */
  position: sticky;
  /* Posiciona la imagen */
}



/* Estilos para la imagen en el header */
.imagenHeader1 {
  width: 35%; /* Ancho */
  height: auto; /* Altura automática */
}

