/* Estilos para la barra de navegación */
.navBar {
  background-color: transparent;
  /* Fondo transparente */
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  flex-direction: row;
  /* Asegura que los elementos del menú se alineen en una fila */
}

.navbar-nav .nav-link {
  padding-right: 1rem;
  /* Espacio adicional entre elementos del menú */
  padding-left: 1rem;
  /* Espacio adicional entre elementos del menú */
}

.navBardrop1,
.navBardrop2 {
  background-color: transparent;
  /* Fondo transparente */
  border: none;
  /* Sin borde */
  justify-content: center;
  /* Centra el contenido horizontalmente */
  color: aqua;
  /* Color del texto */
}

.navBardrop2 {
  font-size: slarge;
  /* Tamaño del texto */
}

/* Estilos para el enlace del menú al pasar el mouse */
.menu-link:hover {
  color: rgb(255, 255, 255);
  /* Cambia el color del texto a blanco al pasar el mouse */
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item.active .nav-link:hover {
  color: rgb(255, 255, 255);
  /* Color del texto activo y al pasar el mouse */
}

/* Oculta la flecha después de los elementos del menú desplegable */
.dropdown-toggle::after {
  display: none;
}

/* Estilos para el encabezado menu*/
.encabezado {
  background-color: transparent;
  /* Fondo transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Centra los elementos verticalmente */
  margin-top: 10px;
  /* Margen superior */
  border: none;
}

/* CSS personalizado para ocultar la flecha del dropdown */
.no-caret::after {
  display: none;
}

.navbar-toggler {
  position: relative;
  /* Establece el posicionamiento absoluto */
  top: 50%;
  /* Coloca el botón en la mitad superior del contenedor */
  left: 50%;
  /* Coloca el botón en la mitad izquierda del contenedor */
  transform: translate(-50%, -50%);
  /* Centra el botón tanto horizontal como verticalmente */
  background-color: transparent;
  /* Fondo transparente */
  border: 2px rgba(0, 255, 255, 0.389) solid;
  margin-top: 20px;
  /* Ajusta este valor según la distancia deseada */
}

/* Estilos para el botón de menú hamburguesa */
.navbar-toggler .navbar-toggler-icon {
  background-color: rgba(0, 255, 255, 0.47);
  border-radius: 2px;
  /* Ajusta el radio de borde */
}

/* Estilos para la imagen al costado del menú hamburguesa */
.side-icon {
  width: 70px;
  /* Ajusta el ancho de la imagen */
  height: auto;
  /* Ajusta la altura automáticamente */
  position: sticky;
  /* Posiciona la imagen */
}

.dropdown-menu {
  background-color: rgba(25, 95, 93, 0.201);
  /* Ajusta el color de fondo y la transparencia */
  border: none;
  /* Elimina el borde */
}

.dropdown-menu .dropdown-item {
  color: rgba(255, 255, 255, 0.694);
  /* Color del texto */
  font-size: 16px;
  /* Tamaño de fuente para el menú desplegable */
  display: flex;
  align-items: center;
}

.dropdown-menu .dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  /* Cambia el color de fondo al pasar el cursor */
}