.navBar {
  background-color:  transparent;
  font-size: large;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
}


.navColor {
  color:aqua;
}

.navBardrop1,
.navBardrop2 {
  background-color:transparent;
  border: none;
  justify-content: center;
  color:aqua;
  font-size: large;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.navBardrop2 {
  font-size: large;
}


.menu-link:hover {
  color: white;
  /* Cambia el color a blanco al pasar el mouse */
}

.navBardrop2.dropdown-toggle.menu-link::after {
  display: none;
}


.encabezado {
  background-color: transparent;
  align-items: center;
  margin-top: 10px;
}