/* Estilos para el contenido principal */


/* Estilos para las imágenes limitadas */
.imagen-limitada1 {
  width: 50%; /* Ancho */
  height: auto; /* Altura automática */
  border: none; /* Borde */
  border-radius: 20px; /* Radio del borde */
}

/* Estilos para las imágenes limitadas */
.imagen-limitada2 {
  width: 35%; /* Ancho */
  height: auto; /* Altura automática */
  border: none; /* Borde */
  border-radius: 20px; /* Radio del borde */
  }

/* Estilos para las imágenes limitadas */
.imagen-limitada3 {
  width: 5%; /* Ancho */
  height: auto; /* Altura automática */
  border: none; /* Borde */
  border-radius: 20px; /* Radio del borde */
  }

/* Estilos para las imágenes limitadas */
.imagen-limitada4 {
  width: 15%; /* Ancho */
  height: auto; /* Altura automática */
  border: none; /* Borde */
  border-radius: 20px; /* Radio del borde */
  }

/* Estilos para las imágenes limitadas */
.imagen-limitada5 {
  width: 30%; /* Ancho por defecto */
  height: auto; /* Altura automática */
}


 .gif-limitado1 {
 width: 40%; /* Ancho */
 height: auto; /* Altura automática */
 border: rgba(156, 223, 202, 0.592) 10px solid; /* Borde */
 border-radius: 20px; /* Radio del borde */
 padding:0px;
 margin-bottom: 0px;
}

.gifLimitado2 {
  text-align: center; /* Centra horizontalmente el contenido */
}

.gifLimitado2 .logoGondraWorld1 img {
  max-width: 10%; /* Ajusta el ancho máximo de la imagen */
  height: auto; /* Permite que la altura se ajuste automáticamente según el ancho */
}


.h1Titulo {
  // background: linear-gradient(black, black, black, aqua);
  border: none;
  border-radius: 20px;
}

.objetoCentrado {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Centra los elementos verticalmente */
  margin-top: 0px;
}

.objetoCentrado1 {
  display: flex;
  justify-content: center;
}

.objetoCentrado2 {
  display: flex;
  justify-content: center;
}



.tituloImportante1 {
  color: rgba(119, 255, 201, 0.857);
  font-size: medium;
  font-family: 'Courier New', Courier, monospace;
   font-weight: bold;
  // text-decoration: underline;
}

.tituloImportante2 {
  color: rgb(255, 255, 255);
  border: 2px rgba(255, 255, 255, 0.237) dotted;
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
   font-weight: bolder;
  padding: 1px;
 }

 .tituloPequeño1 {
  color: rgba(241, 235, 200, 0.586);
   font-size: x-small;
  }



.banner1 {
  width: 500px;
  height: 80px;
  border-color: aqua 5px solid;
}

logoGondraWorld1 {
  display: flex;
  justify-content: center;
  align-items: center;
}