.mini-carrito {
  background-color: #375c53a5;
  border-radius: 20px;
  padding: 40px;
}

.mini-carrito h4 {
  margin-top: 0;
}

#listaMiniCarrito {
  padding: 5px;
}

#listaMiniCarrito li {
  margin-bottom: 10px;
}

#totalMiniCarrito {
  font-weight: bold;
}

#botonPagar {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

#botonPagar:hover {
  background-color: #0056b3;
}