/*******TIENDA********/


/* Botón "Comprar" */
.botonComprar {
  padding: 8px 16px;
  font-size: small;
  border: none;
  border-radius: 10px;
  background-color: #296c7273;
  color: rgba(254, 254, 232, 0.665);
  cursor: pointer;
  transition: all 0.3s ease;
}

.botonComprar:hover {
  background-color: #27c5d363;
  color: rgba(254, 254, 232, 0.665);
}

.botonPagar {
  padding: 8px 16px;
  font-size: x-large;
  border: none;
  border-radius: 10px;
  background-color: #00ffaaa9;
}

.botonPagar:hover {
  border: none;
  border-radius: 10px;
  background-color: #00ffff84;
}

/* Detalles del producto agregado */
#detalleProductoAgregado {
  flex-basis: 40%;
  /* Toma el 40% del espacio */
  padding-left: 20px;
  /* Espacio a la izquierda */
}

#detalleProductoAgregado img {
  width: 100px;
  /* Tamaño de la imagen */
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* Botón "Vaciar Carrito" */
#btnVaciarCarrito {
  padding: 8px 16px;
  font-size: small;
  border: none;
  border-radius: 10px;
  background-color: #296c7273;
  color: rgba(254, 254, 232, 0.665);
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 10px;
}

#btnVaciarCarrito:hover {
  background-color: rgba(156, 48, 77, 0.563);
  color: #ffffff;
}

.botonComprar1 {
  padding: 8px 16px;
  font-size: small;
  border: none;
  border-radius: 10px;
  background-color: #296c7273;
  color: rgba(254, 254, 232, 0.665);
  cursor: pointer;
  transition: all 0.3s ease;
  float: right;
  margin-top: 30px;
}

.botonComprar1:hover {
  background-color: rgba(48, 156, 120, 0.563);
  color: #ffffff;
  border: none;
}


.botonEncargar {
  padding: 8px 16px;
  font-size: small;
  border: none;
  border-radius: 10px;
  background-color: #2bbdcd84;
  color: rgba(254, 254, 232, 0.665);
  cursor: pointer;
  transition: all 0.3s ease;
  float: right;
  margin-top: 10px;
}

.botonEncargar:hover {
  background-color: rgba(48, 156, 120, 0.754);
  color: #ffffff;
  border: none;
}


.seguirComprando1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: large;
  border: none;
  border-radius: 10px;
  background-color: #296c7273;
  color: rgba(254, 254, 232, 0.665);
}

.seguirComprando1:hover {
  background-color: rgba(48, 156, 120, 0.563);
  color: #ffffff;
  border: none;
}

.iconitoCarrito1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  text-transform: uppercase;
  font-size: small;
  border: none;
  border-radius: 10px;
  background-color: #00eaff93;
  color: rgba(0, 0, 0, 0.665);
}




.form-select{
  background-color: #548377;
  color: white;
  border: none
}
/* Estilos para centrar y cambiar el color de fondo de las opciones de los selects */
select.form-select option {
  text-align: center;
  /* Centrar el texto */
  background-color:#2a8371c0;
   /* Cambiar el color de fondo a verde jade */
  color: rgb(255, 255, 255);
  /* Color del texto en las opciones */

}


.tamañoicono1 {
  font-size: 2rem;
}

/* Botón de eliminar */
.botonEliminar {
  padding: 8px 16px;
  font-size: small;
  border: none;
  border-radius: 10px;
  background-color: #16484d93;
  color: rgba(254, 254, 232, 0.665);
  cursor: pointer;
  transition: all 0.3s ease;
  // float: right;
  margin-top: 10px;
}

.botonEliminar:hover {
  background-color: rgba(48, 156, 120, 0.563);
  color: #ffffff;
  border: none;
}

/* Botón de eliminar */
.btn-eliminar {
  padding: 8px 16px;
  font-size: small;
  border: none;
  border-radius: 10px;
  background-color: #e32727;
  color: rgba(254, 254, 232, 0.665);
  cursor: pointer;
  transition: all 0.3s ease;
  // float: right;
  margin-top: 10px;
}

.btn-eliminar:hover {
  background-color: rgba(227, 69, 69, 0.864);
  color: #ffffff;
  border: none;
}

.producto.seleccionado {
  border: 2px solid #00ffe5;
}


.tituloPrecio1 {
  // text-decoration: underline;
  color: rgba(0, 255, 208, 0.672);
  font-size: medium;
}

.tituloPrecioCarrito {
  text-decoration: dotted;
  color: rgb(0, 255, 208);
  font-size: xx-large;
}


//EN TIENDA.JS//

/* Estilo para cada producto en el carrito */
.itemProducto {
  width: 100%;
  padding: 10px;
}

.itemProducto .productoCarrito {
  display: flex;
  align-items: center;
}

.itemProducto .imagenProductoCarrito {
  width: 50px;
  /* Ajusta el tamaño de la imagen */
  height: auto;
  margin-right: 10px;
}

.itemProducto .infoProductoCarrito {
  flex-grow: 1;
}

.producto {
  margin-top: 5px;
}

.producto.seleccionado {
  border: 2px solid #007bff;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}


/* Estilos para las imágenes de producto */
.producto-imagen {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

/* Estilos para el nombre del producto */
.producto-nombre {
  font-size: 14px;
  margin: 8px 0;
}

/* Estilos para el precio del producto */
.producto-precio {
  font-size: 16px;
  font-weight: bold;
  color: #228c87;
}



.border-bottom {
  border-bottom: 1px solid #dee2e6;
}

.border-end {
  border-right: 1px solid #dee2e6;
}

.border-start {
  border-left: 1px solid #dee2e6;
}


//MINI CARRITO //

/* Estilos para el mini carrito */
.mini-carrito {
  background-color: #375c53a5;
  border-radius: 20px;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  /* Alinea los elementos */
  flex-wrap: wrap;
  /* Permite que los elementos se ajusten al tamaño del contenedor */
}

/* Lista del mini carrito */
#listaMiniCarrito {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-basis: 50%;
  /* Toma la mitad del espacio */
}



/* Estilo CSS para el elemento <li> */
.estilo-lista {
  /* Estilos de disposición */
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Estilos de apariencia */
  background-color: #e3e3e3d2;
  /* Color de fondo */
  border: 1px solid #6c757d;
  /* Borde */
  border-radius: 20px;
  /* Bordes redondeados */
  padding: 10px;
  /* Espaciado interno */
  margin: 5px;
  /* Margen inferior */
  gap: 20px;
}

/* Estilo para el último elemento de la lista */
.estilo-lista:last-child {
  margin-bottom: 0;
  /* Quitar margen inferior al último elemento */
}



/* Ítems del mini carrito */
#listaMiniCarrito li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* Total del mini carrito */
#totalMiniCarrito {
  font-weight: bold;
  margin-top: 10px;
}


/* Estilos para la imagen del carrito */
.carrito-imagen img {
  width: 100px;
  /* Tamaño deseado para la imagen */
  height: auto;
  margin-bottom: 10px;
  /* Otros estilos según necesites */
}



.list-group-item {
  border: none;
  padding: 15px;
}


//TOSTIFY
/* Estilos personalizados para el Toastify */
.iconoToastify {
  font-size: small;
  border: none;
  border-radius: 10px;
  background-color: #ff0303e0;
  color: rgba(254, 254, 232, 0.665);
}