
/*******TIENDA********/

.botonComprar {
    padding: 8px 16px;
    font-size: small;
    border: none;
    border-radius: 10px;
    background-color: #16484d93;
    color: rgba(254, 254, 232, 0.665);
    cursor: pointer;
    transition: all 0.3s ease;
    float: right;
    margin-top: 10px;
  }
  
  .botonComprar:hover {

    background-color: rgba(255, 255, 255, 0.199);
    color: #ffffff;
    border: none;
  }
  
  .tituloPrecio1 {
    // text-decoration: underline;
    color: rgba(0, 255, 208, 0.409);
    font-size: medium;
}
