/* GRID */

.gridPadre {
    display: grid;
    // background-color: rgba(0, 0, 0, 0.443);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
    /* Centra verticalmente el contenido */
    margin: 50px auto; /* Para centrar el grid horizontalmente */
    max-width: 1168px; /* Establece un ancho máximo para evitar que el grid se expanda demasiado en pantallas más grandes */
    margin-top: 0px; /* Ajusta este valor según la distancia deseada */
    // border: 1px rgba(0, 255, 255, 0.407) solid;
     }
  
.item {
    text-align: center;
}

.item img {
    max-width: 100%;
    height: auto;
}


